<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">BlueBus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/admin/login']">Admin</a>
            <a class="dropdown-item" [routerLink]="['/busoperator/login']">Bus Operator</a>
            <a class="dropdown-item" [routerLink]="['/passenger/login']">Passenger</a>
          </div>
        </li>
      </ul>
     
    </div>
  </nav>


  <div class="row mt-4">
    <div class="container w-25 ">
      <h2>Passenger Signup</h2>
        <form [formGroup]='passengerSignUpForm'>
            <div class="row">
                <h3>Name</h3>
            </div>
            <div class="row">
                <input type="text" formControlName='name' class="form-control">
            </div>
          <div class="row">
              <h3>Email</h3>
          </div>
          <div class="row">
              <input type="email" formControlName='email' class="form-control">
          </div>
          <div class="row">
              <h3>Password</h3>
          </div>
          <div class="row">
              <input type="password" formControlName='password' class="form-control">
          </div>
          <div class="row">
            <h3>Phone</h3>
        </div>
        <div class="row">
            <input type="number" formControlName='phone' class="form-control">
        </div>
          <div class="row mt-4">
              <input type="submit" class="btn btn-primary form-control" value="SignUp" (click)="sendPassengerSignUpDetails()">
          </div>
        </form>
        <h3>Already have an account?<a [routerLink]="['/passenger/login']">Log in</a></h3>
        
    </div>
</div>
